* {
  font-family: 'Luckiest Guy', cursive;
}

.App {
  display: flex;
  justify-content: stretch;
  min-height: 100vh;

}


.scoreboard-wrapper {
  // border: 1px solid green;
  flex-basis: 100%;
  max-width: 400px;
  display: flex;
  padding: 20px;

}

.scoreboard {
  background: #D80D0D;
  width: 100%;
  border-radius: 4px;
  color: white;
  padding: 30px;
  box-shadow: 0px 2px 5px 0 rgba(0,0,0,0.2), 0px 4px 15px 0 rgba(0,0,0,0.1);
}
.gameboard-wrapper {
  flex-basis: 100%;
  // border: 1px solid green;
  display: flex;
  padding: 20px;
  overflow: hidden;
  position: relative;

}
.gameboard {
  // border: 1px solid tomato;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  &.bad {
    animation: lose 1s forwards;
  }
}
@keyframes lose {
  from {transform: translateY(0);}
  to {transform: translateY(120%);}
}

.button-wrapper {
  width: 25%;
  height: 25%;
  padding: 10px;
  display: flex;
}
.murray-button {
  background-position: center;
  width: 100%;
  border: 0;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 2px 5px 0 rgba(0,0,0,0.2), 0px 4px 15px 0 rgba(0,0,0,0.1);

}

.label {
  font-weight: bold;
  margin-bottom: 5px;
}

.sidebar-content {
  background: #9E1919;
  border-radius: 4px;
  color: #FCD6D6;
  padding: 15px;
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.score {
  font-size: 6rem;
  font-weight: bold;
}

.status {
  font-size: 8rem;
}

.restartButton {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 30px;
  font-size: 32pt;
  transform: translate(-50%, -50%);
  background: #D80D0D;
  border: 0;
  border-radius: 10px;
  color: white;
}

@media (max-width: 1024px) {
  .App {
    flex-direction: column;
  }
  .scoreboard-wrapper {
    order: 2;
    max-width: none;
  }
  .murray-button {
    min-height: 100px;
  }
}
